/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  /* Global body styles */
  body {
    font-family: 'Roboto Flex', sans-serif;
    line-height: 1.6;
  }
  
  /* Central container */
  .container {
    width: auto;
    max-width: 1400px;
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 3%;
  }
  